.container {
  margin-top: 20px;
}

label, .label {
	font-weight: bold;
}

.no-wrap {
	white-space: nowrap;
}


.home {
  height: 50vh;
  min-height: 300px;
  background: url('../img/home.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}